body {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background-color:rgb(207,159,255);
  margin:0;
}

.container{
  width:100%;
  padding:20px;
  box-sizing:border-box;
}

.header_text{
  font-family:'Nunito', sans-serif;
  font-size:40px;
  font-weight:bold;
  color:white;
  text-align:center;
  margin:20px 0;
}

.gif_container{
  display:flex;
  justify-content:center;
  align-items:center;
}

.btn{
  background:white;
  color:rgb(233,48,48);
  padding:10px 30px;
  border:none;
  border-radius:12px;
  font-size:16px;
  cursor:pointer;
}
